{{ partial "header.html" . }}

<section id=content>
  <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

  <div id=sub-header>
  {{ if .Params.date }}
      {{ .Date.Format (.Site.Params.dateform | default "January 2006") }} · {{ .ReadingTime }} minute read
  {{ end }}

  {{ if .Params.tags }}
    &middot;

    {{ range .Params.tags }}
      <a href="/tags/{{ . }}">{{ . }}</a> &middot;
    {{ end }}
  {{ end }}
  </div>

  <div class="entry-content">
    {{ .Content }}
  </div>

  <div id=links>
    {{ if .PrevInSection }}
      <a class="basic-alignment left" href="{{.PrevInSection.Permalink}}">&laquo; {{.PrevInSection.Title}}</a>
    {{ end }}
    {{ if .NextInSection }}
      <a class="basic-alignment left" href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}} &raquo;</a>
    {{ end }}
  </div>
  <br /><br />

  {{ if eq .Section "blog" }}
    {{ template "_internal/disqus.html" . }}
    <br />
  {{ end }}

</section>

{{ partial "footer.html" . }}


